body {
    padding: 50px;
    background-color: #ff4c4c;
}

.title {
    font-size: 300%;
    font-family: 'Pacifico';
}

.containter {
    display: flex;
    width: 1000;
    justify-content: center;
    font-size: 50px;
    flex-wrap: wrap;
    font-family: 'Pacifico';
    text-align: center;
}

.item {
    background-color: black;
    width: 400px;
    height: 100px;
    margin: 10px;
    transition: .3s;
}

.item:hover::after {
    content: attr(data-hover);
    line-height: 90px;
    letter-spacing: 6px;
}

.item1:hover {
    background-color: white;
}

.item2:hover {
    background-color: white;
}

.item3:hover {
    background-color: white;
}

.item4:hover {
    background-color: white;
}

button {
    margin-top: 20px;
    padding: 10px 20px;
    font-size: 1em;
    background-color: white;
    border: none;
    cursor: pointer;
  }
  