body {
    background-color: #ff8080;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
  }
  
  .main-title {
    font-family: 'Pacifico', cursive;
    color: black;
    font-size: 300%;
  }
  
  .section {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    margin-top: 20px;
  }
  
  .left-section, .right-section {
    margin: 0 20px;
  }
  
  .subtitle {
    font-family: 'Pacifico', cursive;
    color: black;
    font-size: 200%;
  }
  
  .rounded-box {
    border-radius: 15px;
    border: 5px solid white;
    padding: 10px;
    margin-top: 10px;
  }
  
  .inner-text {
    font-family: 'Helvetica', sans-serif;
    color: black;
    font-size: 100%;
  }
  
  .change-size-text {
    font-family: 'Helvetica', cursive;
    color: black;
    font-size: 200%;
    transition: font-size 0.3s, color 0.3s;
  }
  
  .change-size-text:hover {
    font-size: 150%;
    color: white;
  }
  
  button {
    margin-top: 20px;
    padding: 10px 20px;
    font-size: 1em;
    background-color: white;
    border: none;
    cursor: pointer;
  }
  